@import "./assets/font/font.css";

html {
	font-size: 10px;
}

body {
	font-family: Lato, Verdana, sans-serif;
	font-size: 1.6rem;
	cursor: default;
}

.wrapper {
	max-width: 1020px;
	margin: auto;
}

.header {
  color: #ffffff;
}

.header_hidden {
	display: none;
}

.header__wrapper {
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d2f39;
  border-bottom: 6px solid #323746;
}

.logo {
	margin-left: 4%;
  display: flex;
	font-size: 1.6em;
	letter-spacing: -0.1rem;
	font-family: Lato;
}

.header_marked {
	color: #f06c64;
}

.navigation {
	padding-top: 8px;
	padding-right: 26px;
  display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 0.75em;
}

.navigation__item {
	margin: 13px;
	text-align: right;
	letter-spacing: -0.005rem;
}

.navigation_bullet {
	margin-left: 0;
	margin-right: 0;
	color: #323746;
}

.navigation__item:active {
	color: #f06c64;	
}

.slider {
	display: flex;
	height: 594px;
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
}

.slider__arrow {
	display: flex;
	height: 594px;
	flex-basis: 10%;
	align-items: center;
	justify-content: center;
}

.slider__arrow > img:hover{
	cursor: pointer;
}

.slider__impageleft {
	padding-bottom: 5px;
}

.slider__impageright {
	padding-bottom: 5px;
	padding-left: 7px;
}

.slider__phones {
	display: flex;
	flex-basis: 80%;
}

.slider__phoneleft {
	display: flex;
	padding-left: 10px;
	padding-bottom: 5px;
	flex-basis: 32%;
	align-items: center;
}

.slider__phoneright {
	display: flex;
	padding-bottom: 7px;
	padding-left: 73px;
	flex-basis: 68%;
	align-items: center;
}

.services {
	height: 494px;
	background-color: #f2f2f2;
	color: #666d89;
	border-bottom: 6px solid #ffffff;
}

.services__wraper {
	padding: 35px 19px 33px 40px;
	display: flex;
	flex-direction: column;
}

.services__header {
	margin: 24px 0 25px 0;
	font-family: Lato-Black;
	font-size: 3rem;
	letter-spacing: -0.02rem;
}

.services__description {
	margin-top: -6px;
	line-height: 30px;
	color: #767e9e;
	font-family: Lato-Light;
}

.services__description > .descriptionrow {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.75rem;
}

.services__description > .descriptionrow:nth-child(1) {
	letter-spacing: 0.022em;
}

.services__description > .descriptionrow:nth-child(2) {
	letter-spacing: 0.012em;
}

.layout3 {
	display: flex;
	padding-top: 42px;
	flex-basis: 45%;
	flex-direction: column;
	flex-basis: 60%;
}

.layout3__row {
	margin-bottom: 18px;
	width: 100%;
	display: flex;
	flex-basis: 50%;
}

.serviceblock {
	margin-right: 10px;
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
}

.serviceblock__description {
	padding-left: 17px;
	flex-basis: 100%;
}

.serviceblock__icon {
	padding-top: 4px;
}

.serviceblock__description__header {
	margin-top: 0;
	margin-bottom: 7px;
	padding-left: 1px;
	font-family: Lato-Black;
	letter-spacing: -0.025em;
}

.serviceblock__description__text {
	margin-top: 7px;
	font-size: 0.7em;
	line-height: 22px;
	color: #767e9e;
	overflow: hidden;
	letter-spacing: 0.05em;
}

/* nested hell (just for the sake of training) */
.layout3 > .layout3__row:nth-child(1) > .serviceblock:nth-child(1) > .serviceblock__description > .serviceblock__description__header {
	letter-spacing: -0.025em;	
}

.layout3 > .layout3__row:nth-child(1) > .serviceblock:nth-child(2) > .serviceblock__description > .serviceblock__description__header {
	letter-spacing: -0.025em;	
}

.layout3 > .layout3__row:nth-child(1) > .serviceblock:nth-child(3) > .serviceblock__description > .serviceblock__description__header {
	letter-spacing: -0.022em;	
}

.layout3 > .layout3__row:nth-child(2) > .serviceblock:nth-child(1) > .serviceblock__description > .serviceblock__description__header {
	letter-spacing: -0.025em;	
}

.layout3 > .layout3__row:nth-child(2) > .serviceblock:nth-child(2) > .serviceblock__description > .serviceblock__description__header {
	letter-spacing: -0.025em;	
}

.layout3 > .layout3__row:nth-child(2) > .serviceblock:nth-child(3) > .serviceblock__description > .serviceblock__description__header {
	letter-spacing: -0.018em;	
}

