@import "./assets/font/font.css";

html {
	font-size: 10px;
}

body {
	font-family: Lato, Verdana, sans-serif;
	font-size: 1.6rem;
	cursor: default;
}

h2 {
	font-size: 3rem;
}

h4 {
	font-size: 1.87rem;
}

.wrapper {
	max-width: 1020px;
	margin: auto;
}

.header {
  color: #ffffff;
}

.hidden {
	display: none;
}

.header__wrapper {
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d2f39;
  border-bottom: 6px solid #323746;
}

.logo {
	margin-left: 4%;
  display: flex;
	font-size: 1.6em;
	letter-spacing: -0.1rem;
	font-family: Lato;
}

.header_marked {
	color: #f06c64;
}

.navigation {
	padding-top: 8px;
	padding-right: 26px;
  display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 0.75em;
}

.navigation__item {
	margin: 13px;
	text-align: right;
	letter-spacing: -0.005rem;
}

.navigation_bullet {
	margin-left: 0;
	margin-right: 0;
	color: #323746;
}

.navigation__item:active {
	color: #f06c64;	
}

.slider {
	display: flex;
	height: 594px;
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
}

.slider__arrow {
	display: flex;
	height: 594px;
	flex-basis: 10%;
	align-items: center;
	justify-content: center;
}

.slider__arrow > img:hover{
	cursor: pointer;
}

.slider__impageleft {
	padding-bottom: 5px;
}

.slider__impageright {
	padding-bottom: 5px;
	padding-left: 7px;
}

.slider__phones {
	display: flex;
	flex-basis: 80%;
}

.slider__phoneleft {
	display: flex;
	padding-left: 10px;
	padding-bottom: 5px;
	flex-basis: 32%;
	align-items: center;
}

.slider__phoneright {
	display: flex;
	padding-bottom: 7px;
	padding-left: 73px;
	flex-basis: 68%;
	align-items: center;
}

.services {
	height: 494px;
	background-color: #f2f2f2;
	color: #666d89;
	border-bottom: 6px solid #ffffff;
}

.services__wraper {
	padding: 35px 19px 33px 40px;
	display: flex;
	flex-direction: column;
}

.services__header {
	margin: 24px 0 25px 0;
	font-family: Lato-Black;
	font-size: 3rem;
	letter-spacing: -0.02rem;
}

.services__description {
	margin-top: -6px;
	line-height: 30px;
	color: #767e9e;
	font-family: Lato-Light;
}

.services__description > .descriptionrow {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.75rem;
}

.services__description > .descriptionrow:nth-child(1) {
	letter-spacing: 0.022em;
}

.services__description > .descriptionrow:nth-child(2) {
	letter-spacing: 0.012em;
}

.layout3 {
	display: flex;
	padding-top: 42px;
	flex-basis: 45%;
	flex-direction: column;
	flex-basis: 60%;
}

.layout3__row {
	margin-bottom: 18px;
	width: 100%;
	display: flex;
	flex-basis: 50%;
}

.serviceblock {
	margin-right: 10px;
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
}

.serviceblock__description {
	padding-left: 17px;
	flex-basis: 100%;
}

.serviceblock__icon {
	padding-top: 3px;
}

.serviceblock__description__header {
	margin-top: 0;
	margin-bottom: 7px;
	padding-left: 1px;
	font-family: Lato-Black;
	letter-spacing: -0.025em;
}

.serviceblock__description__text {
	margin-top: 7px;
	font-size: 0.7em;
	line-height: 22px;
	color: #767e9e;
	overflow: hidden;
	letter-spacing: 0.05em;
}

/* nested hell (just for the sake of training) */
.layout3 > .layout3__row:nth-child(1) > .serviceblock:nth-child(1) > .serviceblock__description > .serviceblock__description__header {
	letter-spacing: -0.025em;	
}

.layout3 > .layout3__row:nth-child(1) > .serviceblock:nth-child(2) > .serviceblock__description > .serviceblock__description__header {
	letter-spacing: -0.025em;	
}

.layout3 > .layout3__row:nth-child(1) > .serviceblock:nth-child(3) > .serviceblock__description > .serviceblock__description__header {
	letter-spacing: -0.022em;	
}

.layout3 > .layout3__row:nth-child(2) > .serviceblock:nth-child(1) > .serviceblock__description > .serviceblock__description__header {
	letter-spacing: -0.025em;	
}

.layout3 > .layout3__row:nth-child(2) > .serviceblock:nth-child(2) > .serviceblock__description > .serviceblock__description__header {
	letter-spacing: -0.025em;	
}

.layout3 > .layout3__row:nth-child(2) > .serviceblock:nth-child(3) > .serviceblock__description > .serviceblock__description__header {
	letter-spacing: -0.018em;	
}

.portfolio__wrapper {
	padding: 44px 40px 45px 40px;
	line-height: 16px;
	letter-spacing: -0.008em;
	background: #2d303a;
	font-family: Lato-Black;	
	color: #666d89;
	border-bottom: 6px solid #323746;
}

.portfolio__description {
	font-size: 1.75rem;
	margin-top: 29px;
	margin-bottom: 2px;
	letter-spacing: 0.012em;	
	line-height: 2.95rem;
	color: #767e9e;
	font-family: Lato-Light;
}

.portfolio__chips {
	margin-top: 10px;
	padding-inline-start: 0;
	display: flex;
	font-size: 1.18rem;
	color: #767e9e;
	list-style: none;
	cursor: pointer;
}

.portfolio__chip {
	margin: 1.1px 5px;
	padding: 4.1px 5.4px;
	line-height: 12px;
	letter-spacing: 0.012em;
	border: 1px solid #767e9e;
	border-radius: 5px;
	font-family: Lato;
}

.portfolio__chip:hover {
	filter: brightness(150%);
}

.portfolio__chips > li:first-child {
	margin-left: 1.2px;
	padding: 3.8px 6.3px;
}

.chiplist_marked {
	color: #c5c5c5;
	border: 1px solid #c5c5c5;
}

.portfolio__snippets {
	margin-top: 18px;
	display: flex;
	flex-direction: column;
}

.portfolio__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10.5px;
}

.portfolio__row:nth-of-type(n+4), 
.portfolio__row .potfolio__snippet:nth-of-type(n+5) {
	display: none;
}

.potfolio__snippet {
	margin-bottom: 8px;
}

.potfolio__snippet:hover {
	transform: scale(1.2);
}

.aboutus__wrapper {
	padding: 43px 28px 33px 40px;
	line-height: 18px;
	letter-spacing: -0.01em;
	background: #f2f2f2;
	color: #767e9e;
	font-family: Lato-Black;
	border-bottom: 6px solid #ffffff;
}

.aboutus__description {
	font-size: 1.75rem;
	margin-top: 28px;
	margin-bottom: 2px;
	letter-spacing: 0.022em;	
	line-height: 2.98rem;
	color: #767e9e;
	font-family: Lato-Light;
}

.descriptiom_wide {
	letter-spacing: 0.012em;	
}

.aboutus__snippets {
	display: flex;
	justify-content: space-between;
	padding-top: 33px;
	padding-right: 3px;
}

.aboutus__snippet {
	margin: 10px 8px;
	width: 301px;
	overflow: hidden;
}

.aboutus__snippets > div:first-child {
	margin-left: 0;
}

.aboutus__person {
	margin-top: 15px;
	margin-bottom: 5px;
	letter-spacing: -0.02em;
	font-family: Lato-Bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.aboutus__personinfo {
	margin-top: 10.3px;
	line-height: 21.5px;
	font-family: Lato-Light;
	font-size: 1.2rem;
	font-family: Lato;	
}

.ls-1 {
	letter-spacing: -0.005em;
}

.ls-2 {
	letter-spacing: 0.009em;
}

.aboutus__links {
	margin-top: 20px;
	padding-inline-start: 0;
	display: flex;
	list-style: none;
	cursor: pointer;
}

.aboutus__link {
	margin: 2.8px;
	border-radius: 50%;
}

.aboutus__link:hover {
	opacity: 0.5;
}

.aboutus__links > li:first-child {
	margin-left: 0;
}

.quote__wrapper {
	padding: 45px 35px 29px 40px;
	line-height: 16px;
	letter-spacing: -0.008em;
	background: #f06c64;
	font-family: Lato-Black;	
	color: #f0d8d9;
	border-bottom: 6px solid #ea676b;
}

.quote__description {
	font-size: 1.75rem;
	margin: 28px 0;
	letter-spacing: 0.022em;	
	line-height: 3rem;
	color: #f0d8d9;
	font-family: Lato-Light;
}

.quote__description_2row {
	letter-spacing: 0.012em;	
}

.qoute__area {
	display: flex;
	padding: 8px 0 0 0;
}

.quote__form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 65.5%;
}

.quote__field {
	height: 36px;
	padding-left: 14.5px;
	margin: 8px 0;
	line-height: 2.2em;
	font-family: Lato;
	background-color: #d6564f;
	color: #f0d8d9;
	border-radius: 5px;
	border-style: none;
}

.quote__field::placeholder {
	color: #f48c8f;
	font-size: 1.2rem;
}

.quote__tarea {
	height: 198px;
	line-height: 3.05em;
	resize: none;
}

.quote__submit {
	display: flex;
	justify-content: flex-end;
}

.quote__submit > input {
	width: 100px;
	height: 30px;
	border-radius: 5px;
	background-color: #d6564f;
	color: #f0d8d9;
	border-style: none;
}

.quote__info {
	padding-left: 21px;
	flex-basis: 32%;
	font-family: Lato;
}

.quote__infoheader {
	margin: 8.5px 0;
	letter-spacing: -0.014em;
	font-family: Lato-Bold;
}

.qoute__inforow {
	margin: 0 0;
}

.qoute__infodescription {
	margin: 11px 0 24px 0;
	font-size: 1.2rem;
	line-height: 1.8em;
	letter-spacing: -0.002em;
}

.qoute__infodescription > .qoute__inforow:nth-child(2) {
	letter-spacing: 0.003em;	
}

.qoute__infodescription > .qoute__inforow:nth-child(3) {
	letter-spacing: 0.016em;	
}

.qoute__infodescription > .qoute__inforow:nth-child(4) {
	letter-spacing: 0.000em;	
}

.contactblock {
	margin-top: 5px;
	display: flex;	
	align-items: center;
}

.contactblock__image {
	height: 11.5px;
}

.contactblock__contact {
	font-size: 1.2rem;
	letter-spacing: 0.002em;
	color: #f0d8d9;
}

.contactblock:nth-child(1) {
	margin-left: 3px;
}

.contactblock:nth-child(1) > .contactblock__contact {
	margin: 0 12.5px;
}

.contactblock:nth-child(2) {
	margin-left: 1px;
}

.contactblock:nth-child(2) > .contactblock__contact {
	margin: 0 10.5px;
}

.contactblock:nth-child(3) {
	margin-top: 9px;
}

.contactblock:nth-child(3) > .contactblock__image {
	height: 7.5px;
}

.contactblock:nth-child(3) > .contactblock__contact {
	margin-left: 10.5px;
	margin-top: -3px;	
}

.footer__wrapper {
  height: 90px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: #2d303a;
}

.copyright__wrapper {
	flex-basis: 100%;
	padding: 30px 0 40px 42px;
	color: #767e9e;
	font-size: 1.2rem;
}

.copyright__wrapper > span {
	margin-bottom: 10px;
}

.links__wrapper {
	align-self: flex-end;
	padding: 0 36px 11px 36px;
}

.links {
	margin-top: 20px;
	display: flex;
	list-style: none;
	cursor: pointer;
}

.link {
	margin: 2.8px;
	border-radius: 50%;
}

.link:hover {
	opacity: 0.5;
}

.links > li:first-child {
	margin-left: 0;
}

